html{
    font-size: 62.5%;
    font-family: 'Bangers', cursive;;
}
body{
    background: url(/flat-mountains.svg);
    background-repeat: no-repeat;
    background-size:180rem;
    color: rgb(0, 0, 0);
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
}
.difficultyButtons{
    background-color: #D6002B;
    color:#FF7700 ;
    border: none;
    margin: 2rem;
    padding: 1.8rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
    font-family: inherit;
}
input{
    border: none;
    border-radius: 10px;
    padding: 1.4rem;
    background-color: rgba(255, 255, 255, 0.555);
    outline: none;
    color: #D6002B;
    text-align: center;
    font-weight: bold;
    font-family: inherit;
    font-size: 2.3rem;
}
@media screen and (min-width:780px) {
    body{
        background-size: cover;
    }
    
}